<!DOCTYPE html>
<html lang="en">
<title>Contact</title>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="assets/style.css">
	</head>

	<body>
  <%include partials/nav.ejs%>
  <h1>Here must be a contact form</h1>
  <p>Coming soon...</p>
	</body>

</html>
